.clientbutton,
body {
  flex-direction: column;
}
body,
html {
  margin: 0;
  overflow-x: hidden;
}
body,
textarea {
  font-style: normal;
}
.popup,
.topbar {
  position: fixed;
  color: #fff;
}
.clientbutton,
.topbar {
  box-sizing: border-box;
}
.checkbox,
.followup-marker {
  user-select: none;
  cursor: pointer;
}
.popup,
.sectionbox {
  box-shadow: var(--std-shadow);
}
.popup,
.topbar,
input {
  color: #fff;
}
.add,
.checkbox,
.clientbutton,
.deletebutton,
.followup-marker,
.submitbutton {
  cursor: pointer;
}
:root {
  --std-border: 1px solid rgb(0, 0, 0);
  --light-border: 1px solid rgb(207, 207, 207);
  --font-color: rgb(32, 32, 32);
  --std-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
html {
  height: 100%;
  background-size: cover;
  background-color: #341cb5;
  background-image: linear-gradient(
    122deg,
    #341cb5 0,
    #c850c0 68%,
    #ffcc70 100%
  );
  background-attachment: fixed;
}
body {
  display: flex;
  align-items: center;
  width: 100vw;
  font-family: Questrial, sans-serif;
  font-weight: 500;
  color: var(--font-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
textarea {
  resize: none;
  border: none;
  border-top: var(--light-border);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  background-color: #fff7f8;
  transition: background-color 0.2s, color 0.2s;
}
textarea:focus {
  outline: 0;
}
.topbar {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 80px;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(0, 32, 36, 0) 0,
    rgba(0, 0, 0, 0.452) 100%
  );
  background-size: cover;
}
.topbar span {
  padding-left: 20px;
  font-size: 2em;
  font-weight: 600;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}
.clientlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1px;
}
.clientlist * {
  height: 50%;
}
.clientbutton {
  font-size: 1.1em;
  font-weight: 600;
  padding: 0 8px;
  margin: 0 7px;
  display: flex;
  justify-content: center;
  height: 50%;
}
.followup-marker,
.sectionlabel {
  border-right: var(--std-border);
  padding: 0 15px;
}
.add,
.add span {
  flex-direction: column;
  display: flex;
}
.clientbutton:hover,
.selectedclient {
  /* background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0,
    rgba(255, 255, 255, 0.61) 10%,
    rgba(255, 255, 255, 0.61) 90%,
    rgba(0, 212, 255, 0) 100%
  ); */

  background-color: #00000065;
  /* background-repeat: no-repeat; */
  /* background-position: bottom; */
  /* background-size: 100% 1px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  /* border-radius: 10px; */
  padding: 13px;
}

.clientbutton {
  transition: background-color, box-shadow, border-radius, padding;
  transition-duration: 200ms;
  border-radius: 12px;
}
.add {
  width: auto;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-right: 23px;
  margin-left: 10px;
  margin-bottom: 3px;
}
.add span {
  font-size: 1em;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 10% 0;
  transition: filter 0.4s;
}
.checkbox,
.container,
.followup-marker {
  box-sizing: border-box;
  transition: background-color 0.2s;
}
.container {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 6fr;
}
.containerheader {
  border-bottom: var(--std-border);
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00000065;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.container *,
.popup {
  flex-direction: column;
}
.containerheader * {
  margin-left: 14px;
}
.checkbox {
  border-right: var(--std-border);
}
.sectionlabel {
  box-sizing: border-box;
  font-weight: 600;
}
.sectionbox {
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  max-width: 850px;
  transition: transform;
  transition-duration: 200ms;
}

.sectionbox:hover {
  transform: scale(103%);
}
.container * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #fff7f8;
}
.followup-marker {
  font-size: 1em;
}
.spacer {
  height: 40px;
}
.popup {
  z-index: 100;
  display: none;
  align-items: center;
  width: 400px;
  min-height: 400px;
  transform: translateY(150px);
  transform: translateX();
  background-color: #000000dc;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 40px;
  border: var(--std-border);
}

.bottom,
.deletebutton {
  position: fixed;
  background-color: #ff2516;
}
.popup span {
  margin: 30px;
}
.inputline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
}
.inputline input {
  width: 70%;
  margin: 5%;
}
.inputs {
  margin: 40px 20px;
}
input {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
}
.submitbutton {
  padding: 10px;
  border: var(--std-border);
  border-radius: 10px;
  transition: transform 0.2s;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.submitbutton:hover {
  transform: scale(120%);
  transform-origin: center;
  border: 1px solid #75f34e;
}
.deletebutton {
  z-index: 100;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  bottom: 15px;
  right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg-icon {
  width: 1.3em;
  height: 1.3em;
}
.svg-icon-ui {
  width: 0.9em;
  height: 0.9em;
}
.svg-icon-ui path,
.svg-icon-ui polygon,
.svg-icon-ui rect {
  fill: #ffffff;
}
.svg-icon-ui circle {
  stroke: #ffffff;
  stroke-width: 1;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}
.delete {
  width: 1.5em;
  height: 1.5em;
}
.addline,
.subline {
  cursor: pointer;
  width: 1.3em;
  height: 1.3em;
}
.svg-icon circle {
  stroke: #000000;
  stroke-width: 1;
}
.closebutton {
  right: 20px;
  top: 20px;
  position: fixed;
}
.warninglabel {
  font-size: 0.7em;
  text-align: center;
}
.addersection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.addersection * {
  margin: 10px;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
  display: none;
}
.bottom {
  z-index: 50;
  bottom: 0;
  width: 100vw;
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 32, 36, 0) 0,
    rgba(0, 0, 0, 0.226) 100%
  );
  pointer-events: none;
  background-size: cover;
}
