:root {
  --std-border: 1px solid rgb(0, 0, 0);
  --light-border: 1px solid rgb(207, 207, 207);
  --font-color: rgb(32, 32, 32);
  --std-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

html {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-color: #341cb5;
  background-image: linear-gradient(
    122deg,
    #341cb5 0%,
    #c850c0 68%,
    #ffcc70 100%
  );
}

body {
  display: flex;
  flex-direction: column;
  width: 99vw;
  margin: 0;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--font-color);
}

textarea {
  resize: none;
  border: none;
  border-top: var(--light-border);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
  background-color: #fff7f8;
}

textarea:focus {
  outline: none;
}

.topbar {
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 80px;
  width: 100%;
  /* padding: 10px 0px; */
  /* border-bottom: var(--std-border); */
  box-sizing: border-box;
  /* background-color: #000000; */
  color: white;

  /* box-shadow: var(--std-shadow); */
}

.topbar span {
  padding-left: 20px;
  font-size: 2em;
  font-weight: 600;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.clientlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1px;
}

.clientlist * {
  height: 50%;
}

.clientbutton {
  box-sizing: border-box;
  /* margin: 0px 4px; */
  font-size: 1.1em;
  font-weight: 600;
  padding: 0px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.clientbutton:hover {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.322),
    rgba(0, 0, 0, 0)
  );
}

.add {
  width: auto;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* padding: 3px 10px; */
  /* margin: 0 4px; */
  font-weight: 500;
}
.add span {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 10% 0 10%;
}

.container {
  box-sizing: border-box;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 6fr;
}

.containerheader {
  border-bottom: var(--std-border);
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00000065;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.containerheader * {
  margin-left: 10px;
}

.checkbox {
  border-right: var(--std-border);
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.sectionlabel {
  border-right: var(--std-border);
  box-sizing: border-box;
  padding: 0px 15px;
  font-weight: 600;
}

.sectionbox {
  /* border: var(--std-border); */
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  /* background-color: #fff7f8; */
  box-shadow: var(--std-shadow);
}

.container * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff7f8;
}
.followup-marker {
  font-size: 1em;
  border-right: var(--std-border);
  box-sizing: border-box;
  padding: 0px 15px;
  user-select: none;
  cursor: pointer;
}

.spacer {
  height: 40px;
}

.popup {
  z-index: 100;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  transform: translateY(50%);
  background-color: #fff7f8;
  border-radius: 40px;
  border: var(--std-border);
  box-shadow: var(--std-shadow);
  /* overflow: hidden; */
}

.popup span {
  margin: 20px;
}

.inputline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
}

.inputline input {
  width: 70%;
  margin: 5%;
}

.inputs {
  margin: 40px 20px;
}

.submitbutton {
  padding: 5px;
  border: var(--std-border);
  border-radius: 5px;
  cursor: pointer;
}

.deletebutton {
  z-index: 100;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: red;
  bottom: 10px;
  right: 10px;
}
