:root {
  --std-border: 1px solid rgb(0, 0, 0);
  --light-border: 1px solid rgb(207, 207, 207);
  --font-color: rgb(32, 32, 32);
  --std-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

html {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-color: #341cb5;
  background-image: linear-gradient(
    122deg,
    #341cb5 0%,
    #c850c0 68%,
    #ffcc70 100%
  );
  background-attachment: fixed;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--font-color);
  overflow-x: hidden;
}

textarea {
  resize: none;
  border: none;
  border-top: var(--light-border);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
  background-color: #fff7f8;
  transition: background-color, color;
  transition-duration: 200ms;
}

textarea:focus {
  outline: none;
}

.topbar {
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 80px;
  width: 100vw;
  /* padding: 10px 0px; */
  /* border-bottom: var(--std-border); */
  box-sizing: border-box;
  /* background-color: #000000; */
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 32, 36, 0) 0%,
    rgba(0, 0, 0, 0.452) 100%
  );
  background-size: cover;
  /* box-shadow: var(--std-shadow); */
}

.topbar span {
  padding-left: 20px;
  font-size: 2em;
  font-weight: 600;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.clientlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1px;
}

.clientlist * {
  height: 50%;
}

.clientbutton {
  box-sizing: border-box;
  /* margin: 0px 4px; */
  font-size: 1.1em;
  font-weight: 600;
  padding: 0px 8px;
  margin: 0px 7px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.clientbutton:hover,
.selectedclient {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.342); */
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(255, 255, 255, 0.61) 10%,
    rgba(255, 255, 255, 0.61) 90%,
    rgba(0, 212, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
}

.add {
  width: auto;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* padding: 3px 10px; */
  /* margin: 0 4px; */
  font-weight: bold;
  margin-right: 23px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.add span {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 10% 0 10%;
  transition: filter;
  transition-duration: 400ms;
}

.container {
  box-sizing: border-box;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 6fr;
  transition: background-color;
  transition-duration: 200ms;
}

.containerheader {
  border-bottom: var(--std-border);
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00000065;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.containerheader * {
  margin-left: 14px;
}

.checkbox {
  border-right: var(--std-border);
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: background-color;
  transition-duration: 200ms;
}

.sectionlabel {
  border-right: var(--std-border);
  box-sizing: border-box;
  padding: 0px 15px;
  font-weight: 600;
}

.sectionbox {
  /* border: var(--std-border); */
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  /* background-color: #fff7f8; */
  box-shadow: var(--std-shadow);
  max-width: 850px;
}

.container * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff7f8;
}
.followup-marker {
  font-size: 1em;
  border-right: var(--std-border);
  box-sizing: border-box;
  padding: 0px 15px;
  user-select: none;
  cursor: pointer;
  transition: background-color;
  transition-duration: 200ms;
}

.spacer {
  height: 40px;
}

.popup {
  z-index: 100;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 400px;
  transform: translateY(150px);
  transform: translateX();
  background-color: #000000dc;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 40px;
  border: var(--std-border);
  box-shadow: var(--std-shadow);
  /* overflow: hidden; */
}

.popup span {
  margin: 30px;
}

.inputline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
}

.inputline input {
  width: 70%;
  margin: 5%;
}

.inputs {
  margin: 40px 20px;
}

input {
  background-color: #000000;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.submitbutton {
  padding: 10px;
  border: var(--std-border);
  border-radius: 10px;
  cursor: pointer;
  transition: transform;
  border: 1px solid white;
  margin-bottom: 30px;
  transition-duration: 200ms;
}

.submitbutton:hover {
  transform: scale(120%);
  transform-origin: center;
  border: 1px solid rgb(117, 243, 78);
}

.deletebutton {
  z-index: 100;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #ff2516;
  border-radius: 30px;
  bottom: 15px;
  right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  width: 1.3em;
  height: 1.3em;
}

.svg-icon-ui {
  width: 0.9em;
  height: 0.9em;
}

.svg-icon-ui path,
.svg-icon-ui polygon,
.svg-icon-ui rect {
  fill: #ffffff;
}
.svg-icon-ui circle {
  stroke: #ffffff;
  stroke-width: 1;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}

.delete {
  width: 1.5em;
  height: 1.5em;
}

.addline,
.subline {
  cursor: pointer;
  width: 1.3em;
  height: 1.3em;
}

.svg-icon circle {
  stroke: #000000;
  stroke-width: 1;
}

.closebutton {
  right: 20px;
  top: 20px;
}

.addersection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.addersection * {
  margin: 10px;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.bottom {
  z-index: 50;
  position: fixed;
  bottom: 0;
  background-color: #ff2516;
  width: 100vw;
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(0, 32, 36, 0) 0%,
    rgba(0, 0, 0, 0.226) 100%
  );
  pointer-events: none;
  background-size: cover;
}

.closebutton {
  position: fixed;
}
